@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Mukta:wght@200;300&family=Open+Sans&display=swap');
@font-face {
    font-family: 'Photos';
    src: url(fontes/Butler_Light.otf);
}
@keyframes fade-op{
    from{
        clip-path: circle(250px at 0 450px);
        opacity: 0.1;
    }
    to{
        clip-path: circle(450px at 0 450px);
        opacity: 1;
    }
}
@keyframes fade-up{
    from{
        transform: translateY(-35px);
        opacity: 0.1;
    }
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes fade-right{
    from{
        transform: translateX(35px);
        opacity: 0.1;
    }
    to{
        transform: translateX(0px);
        opacity: 1;
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    transition: all ease .5s ;
   
    
   
}

a{
    text-decoration: none;
    color:  rgba(255, 255, 255, 0.342);
}
#container{
    
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.938);
    position: relative;
    font-family: 'Merriweather', serif;
    overflow: hidden;
   
    
}
.header{
    position: absolute;
    width: 95%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 20px;
   
   
  
    
}
.logo{
    max-width: 64px;
}
.logo img{
    width: 100%;
}
.nav a{
    font-size: 15px;
    text-transform: uppercase;
    margin: 0 3em;
    font-family: 'Mukta', sans-serif;
    font-weight: 500;
}
.nav a:hover{
    color: white;
    
}
.menu-and-search{
    display: flex;
    height: inherit;
}
.search{
    width: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
   
   
}
.search input{
    width: 0;
    height: 0;
    border: none;
    background-color: rgba(0, 0, 0, 0.158);
    margin-left: 15px;
}
.search.active{
    width: 250px;

}
.search.active input{
    width: inherit;
    height: 40px;
    padding: 10px 15px;
    border-radius: 16px;
    display: block;
    color: white;
    backdrop-filter: blur(12px);
    margin-right: 10px;
   
}

.search img{
    max-width: 24px;
    opacity: 0.6;
   
}
.search img:hover{
    cursor: pointer;
    opacity: 1;
    transform: scale(1.1);
}
.menu{
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
}
.menu img{
    opacity: 0.4;
    max-width: 28px;
   
 
}
.menu img:hover{
    opacity: 1;
    transform: rotate(90deg);
}
.description{
    color: rgba(255, 255, 255, 0.548);
    position: absolute;
    bottom: 10vh;
    left: 10vh;
    max-width: 520px;
    font-family: 'Photos';
   z-index: 99;
    
}

.description h2{
    margin-bottom: 15px;
    font-size: 13px;
    font-family: 'Mukta', sans-serif;
    text-transform: uppercase;
    animation: fade-up 1s ease;
    
    
}
.description h3{
    font-size: 38px;
    color: white;
    animation: fade-right 1s ease-in;

   
}
.slideshow{
    height: 100vh;
    display: flex;
    transition: 1s;
   
   
}
.slide{
    
    height: inherit;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 12em 32px rgb(0, 0, 0);
 
}
.slide.one{
    background-image: url(img/slide1.png);
   
    position: relative;
}
.circle{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 450px;
    height: 350px;
    background-color: rgba(255, 255, 255, 0.082);
    clip-path: circle(450px at 0 450px);
    backdrop-filter: blur(12px);
    animation: fade-op 1s ease;
    
}
.slide.two{
    background-image: url(img/slide2.jpg);
}
.slide.three{
    background-image: url(img/slide3.jpg);
}
.btn-navi-slide{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 5vh;
    right: 5vh;
    font-size: 42px;
    font-family: 'Open Sans';
    font-weight:700;
    color: white;
    overflow: hidden;
}

.btn-navi-slide img{
    max-width: 32px;
    margin: 0 1em;
}
.btn-navi-slide img:hover{
    transform: scale(1.3);
    cursor: pointer;
}
.social-medias{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
    right: 12vh;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.btn-social{
    width: 46px;
    height: 46px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em 0;
}
.btn-social:hover{
transform: scale(1.2);
}

.btn-social img{
    max-width: 28px;
}
